



/*  Primary css */


#container {
	background-color: white;
	width: 800px;
	
	margin-left: auto;
	margin-right: auto;
}


#header {
	background-color: #66ccff;
	color: white;
	text-align: center;
	padding: 10px;
	position: fixed;

}


#content {
	padding: 10px, 10px, 10px, 10px;

}


#nav {
  position: fixed;
}



/*#nav {
	width: 180px;
	float: left;
	margin-top: 100px;
}

#nav ul {
	list-style-type: none;
}*/



#main {
	width: 600px;
	/*float: right;*/
	margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
}

#footer {
	clear: both;
	background-color:#999999;
	color: white;
	text-align: right;
}

#nav .selected {
	font-weight: bold;

}
